.container {
  position: relative;
  width: 50%;
}
h4 {
    margin: 2rem 0rem 1rem;
}
.table-image td, .table-image th {
    vertical-align: middle;
}
  .more-info {
    display: none;
  }
  .next_btn {
    position: absolute;
    top: 49%;
    left: 91%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .prev_btn {
    position: absolute;
    top: 49%;
    left: -24.5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  #slider{
    margin-right: 20%;
  }

  .col-md-3{
    max-width: 20%;
  }

  .img_dim{
    width:  450px;
    height: 250px;
    margin-left: -33%;
    border-radius: 8px;
  }

