<div class="col-md-3"></div>
    <div class="col-md-6">
        <h2 class="form-signin-heading">List Of Locations</h2>
        <td><button type="button" class="btn btn-primary"  id="add" (click) = "addNewLocation()"><i class="far fa-eye">Create New Location</i></button></td>
        <table class="table table-striped" id = "mark">
            <thead>
                <tr>
                    <th>  </th>
                    <th>Name</th>
                    <th>City Location</th>
                    <th>Admin</th>
                    <th>Number Of Halls</th>

                    <th>  </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let location of locations; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ location.name}}</td>
                    <td>{{ location.locationCity }}</td>
                    <td>{{ location.user }}</td>
                    <td>{{ location.numberOfHalls }}</td>
                    <td><button type="button" class="btn btn-primary"  id="delete" (click) = "onUpdate(location.name)"><i class="far fa-eye">Update</i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
    