<div class="row">
    <div class="col-md-9">
        <form id="user-profile-form" class="has-validation-callback" (ngSubmit)="createUser()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="firstname">Username</label>
                        <input type="text" data-validation="required" id="username" [(ngModel)] = "user.username" name ="username" class="form-control" data-validation-error-msg="Ovo je obavezno polje">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lastname">Password</label>
                        <input type="password" data-validation="required" id="password" [(ngModel)] = "user.password" name ="password" class="form-control" data-validation-error-msg="Ovo je obavezno polje">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="field-required">
                            <label for="username">Email</label>
                            <input type="email" id="email" [(ngModel)] = "user.email" name ="email" class="form-control" data-validation="required" data-validation-error-msg="Ovo je obavezno polje">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email">Firstname</label>
                        <input type="text" data-validation="required" id="name" [(ngModel)] = "user.name" name ="name" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="password">Lastname</label>
                    <div class="input-group mb-7">
                        <input type="text" id="lastName" [(ngModel)] = "user.lastName" name ="lastName" class="form-control">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <button type="submit" name="submit" id="create_button" class="btn btn-primary btn-block">
                    Create                   </button>
                </div>
            </div>
        </form>
    </div>
    